@use "tailwindcss";
@use "primeicons/primeicons.css";
@plugin "tailwindcss-primeui";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: var(--font-family), sans-serif;
  background-color: var(--surface-ground);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1rem 0;
  color: var(--text-color);
}

.gap-custom {
  gap: 1.5rem;
}
